[Unit]
Description=Initialize or upgrade Phorge database storage
Wants=network-online.target
Requires=phorge-prepare.service
After=network-online.target phorge-prepare.service
Before=nginx.service php-fpm.service phorge-phd.service

[Service]
Type=oneshot
User=phorge
Group=phorge
WorkingDirectory=/app/phorge
PassEnvironment=PHORGE_AUTO_STORAGE_UPGRADE
ExecStart=/usr/libexec/phorge-storage-upgrade
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
