[Unit]
Description=Phorge background daemons
Wants=network-online.target
Requires=phorge-storage-upgrade.service
After=local-fs.target systemd-tmpfiles-setup.service network-online.target phorge-storage-upgrade.service

[Service]
Type=forking
User=phorge
Group=phorge
WorkingDirectory=/app/phorge
ExecStart=/app/phorge/bin/phd start
ExecReload=/app/phorge/bin/phd reload
ExecStop=/app/phorge/bin/phd stop
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
